.signup-form {
  display: flex;
  flex-direction: column;
  color: white;
  width: 35vh;
}

.signup-form-container {
  display: flex;
  justify-content: center;
}

.signup-form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.btn-sign {
  border-radius: 8px;
  height: 40px;
  width: 130px;
  align-self: center;
  margin-top: 25px;
  cursor: pointer;
}

.btn-sign:hover {
  background-color: black;
  color: firebrick;
  border: none;
  box-shadow: none;
}
