@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@media (max-width: 800px) {
  body {
    max-width: 800px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #141414;
}

.message {
  margin: 10px;
  color: white;
  border: 1px solid white;
  padding: 5px;
  text-align: center;
}

.message:empty {
  border: none;
}

body::-webkit-scrollbar {
  width: 0.6em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 1px 1px 6px rgba(178, 34, 34, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: firebrick;
  outline: 1px solid rgb(29, 3, 1);
}
