.homepage {
  min-height: 95vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.homepage-title {
  color: red;
  font-size: 3em;
  text-shadow: 8px 8px 16px black;
  margin-top: 15px;
  font-weight: 200;
  margin-bottom: 30px;
}

.homepage-subtitle {
  color: white;
  align-self: center;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 1.5em;
}

.homepage-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.homepage-link {
  color: white;
  font-size: 1.5em;
  text-shadow: 4px 4px 8px black;
  margin: 20px;
  background-color: whitesmoke;
  padding: 15px 30px;
  border-radius: 30px;
  box-shadow: 2px 2px 4px black;
  border: none;
}

.homepage-link:hover {
  background-color: green;
}

.wholehomepage {
  display: flex;
  justify-content: center;
}

.homepage-recipe-container {
  display: flex;

  align-items: center;
  justify-content: space-around;
}

.homepagerecipecard {
  height: 150px;
  width: 200px;
}

.active {
  font-weight: 800;
  color: red;
}
