@import url("https://fonts.googleapis.com/css2?family=Pacifico:wght@200;300;400;500;600;700;800&display=swap");

.recettes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #141414;
}

.recettes-title {
  color: firebrick;
  text-align: center;
  margin: 15px;
  font-size: 3.2em;
  font-weight: 200;
}
.ajoute {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 7px;
  border-radius: 8px;
  margin: 0px;
}

.recipe-card {
  color: white;

  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-start;
  text-shadow: 4px 4px 8px black;
  margin: 2px;
  width: 250px;
  height: 200px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 5px;
  background-color: #353535;
}

.recipeinfoscard {
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  width: 90%;
  justify-content: center;
}

.searchbar {
  width: 40vh;
  height: 40px;
  border: none;
  border-radius: 25px;
  outline: none !important;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.filterrecipe {
  display: flex;
  align-items: center;
}

.pageelements {
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.filters {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.leftfilters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.container {
  /* width: 75%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-card-name {
  height: 65px;
}

.recipe-card-name-text {
  text-shadow: 2px 2px 4px black;
  font-size: 1.2em;
  font-weight: 900;
}

.recipe-card {
  position: relative;
  transition: transform 500ms;
  display: flex;
  overflow: hidden;
}

.recipe-container .recipe-card:focus,
.recipe-container .recipe-card:hover {
  transform: scale(1.2);
  z-index: 1;
  border: 1px solid black;
}

.btnfav {
  background-color: black;
  padding: 9px;
  margin-top: 12px;
  border-radius: 8px;
  border: none;
  color: firebrick;
  box-shadow: 2px 2x 4px black;
}

.recipe-image {
  display: block;
  width: 150px;
}

.recipetype {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}

.filterrecipe {
  margin: 20px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: firebrick;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.recettes-title-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btn-menu span {
  color: white;
}

.dropdownmenu {
  margin-right: 50px;
}

.menuitems {
  display: flex;
  color: white;
}

.menuitems li {
  font-size: 1.2em;
}

.MuiMenuItem-root {
}

.onerecipepage {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vh;
}

.onerecipeimage {
  margin-top: 50px;
  width: 450px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.onerecipehr {
  margin-top: 20px;
  width: 50%;
}

.ratingsonerecipe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #2f2e2e;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 50px;
}

.onerecipetitle {
  margin-top: 20px;
  font-size: 3em;
  text-align: center;
  color: firebrick;
  margin-bottom: 5px;
}

.onerecipesubtitle {
  margin-bottom: 15px;
}

.onerecipeing {
  background: #2f2e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 50px;
  width: 40vh;
  margin-left: 18px;
  border-radius: 8px;
  padding: 5px;
}

.inggg {
  margin: 7px;
}

.onerecipesteps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.steplist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.onerecipeimagetime {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legend {
  margin: 10px;
  font-size: 1.2em;
}

.fa-clock {
  margin-right: 5px;
}

.fa-utensils {
  margin-right: 10px;
}

.stars {
  background-color: rgba(0, 0, 0, 0.5);
}

.main-recettes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadinggif {
  position: absolute;
  /* justify-self: center; */
  left: 50%;
  right: 50%;
}

.onerecipe-specifies {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.onerecipe-specifies p {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 8px;
  margin: 5px;
}

.inputrating {
  width: 480px;
  border-radius: 8px;
  border: none;
}

.btninputrating {
  margin-top: 5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.ratingcommentfull {
}

.btncreateform2 {
  margin-left: 50px;
  width: 200px;
  padding: 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
  background-color: #353535;
  box-shadow: 4px 4px 8px #141414;
  font-weight: 800;
  font-size: 1em;
  color: white;
}

.btncreateform2:hover {
  color: red;
}
